# CLOVER Data Processing Development
Notebook for data processing we'll need to run models for CLOVER.

In [44]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [45]:
import pandas as pd
import os
import sys
from torchvision.datasets import ImageFolder


sys.path.append('/Users/kaipak/dev/clover_datasets/src/')
from datasets import CloverDatasets

In [46]:
df = pd.read_csv(r"/Users/kaipak/dev/clover_datasets/metadata/msl/msl_synset_words-indexed.txt", 
                 names=['idx', 'name'], delimiter='\s{4,}', index_col=False)
df

/Users/kaipak/miniconda3/envs/kai/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

    idx                  name
0     0                  apxs
1     1       apxs cal target
2     2    chemcam cal target
3     3     chemin inlet open
4     4                 drill
5     5           drill holes
6     6             drt front
7     7              drt side
8     8                ground
9     9               horizon
10   10                 inlet
11   11                 mahli
12   12      mahli cal target
13   13               mastcam
14   14    mastcam cal target
15   15      observation tray
16   16           portion box
17   17          portion tube
18   18  portion tube opening
19   19        rems uv sensor
20   20       rover rear deck
21   21                 scoop
22   22                   sun
23   23                turret
24   24                 wheel

In [50]:
foo = CloverDatasets(data_path='/Users/kaipak/datasets/CLOVER/',
                     out_path='/Users/kaipak/datasets/CLOVER/processed')
foo.generate_mslv2_dataset(train_file='/Users/kaipak/dev/clover_datasets/metadata/msl/90pctTrain.txt')

Setting up CloverDatasets with /Users/kaipak/datasets/CLOVER/ as input source and /Users/kaipak/datasets/CLOVER/processed for output.

Deleting existing dataset at /Users/kaipak/datasets/CLOVER/processed/msl_dataset

MSLv2 training dataset summary:
 3     1398
4     1279
2      612
7      307
8      226
14     205
6      192
16     190
1      171
11     163
15     163
10     136
13     109
17      55
12      37
9       36
18      23
0        9
5        7
Name: label, dtype: int64

In [ ]:
df = pd.read_csv('/Users/kaipak/datasets/CLOVER/msl-labeled-data-set-v2.1/90pctTrain.txt',
                sep='\t', names=['img', 'label'])

In [18]:
df = pd.read_csv('/Users/kaipak/dev/clover_datasets/metadata/msl/train-set-v2.1.txt',
                 delimiter='\s', names=['foo', 'bar'])

/Users/kaipak/miniconda3/envs/kai/lib/python3.9/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [33]:
df.bar.unique()

array([ 2,  4, 15,  3,  7,  9,  1,  6, 11, 14, 16, 17,  8, 12, 13, 10,  0,
       18,  5])

In [38]:
foo = ImageFolder('/Users/kaipak/datasets/CLOVER/processed/msl_dataset/train/')
foo.make_dataset(class_to_idx='/Users/kaipak/dev/clover_datasets/metadata/msl/msl_synset_words-indexed.txt')

TypeError: make_dataset() missing 1 required positional argument: 'directory'

In [37]:
foo.classes

['class_0',
 'class_1',
 'class_10',
 'class_11',
 'class_12',
 'class_13',
 'class_14',
 'class_15',
 'class_16',
 'class_17',
 'class_18',
 'class_2',
 'class_3',
 'class_4',
 'class_5',
 'class_6',
 'class_7',
 'class_8',
 'class_9']